$header-font:'McLaren', cursive;
$table-font: 'Palanquin', sans-serif;

h1 {
	font-family:$header-font;
	text-align:center;
	font-size: 40px;
	color:#818181;
	text-transform: uppercase;
}

thead th {
	font-family:$header-font;
	font-size:20px;
	color:#818181;
	text-transform: uppercase;
	text-align:center;
}

.trth, td {
	color:#A5A5A5;
	font-family:$table-font;
	font-size:15px;
	text-align:center;
}

.table {
	width:600px;
	margin:0 auto;
	background: #F0F0F0;
	border:2px solid #D8D8D8;
}