<!DOCTYPE html>
<html ng-app='shop'>
<head>
	<title>Shopular</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="css/main.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Buenard|McLaren|Palanquin|Stint+Ultra+Condensed|Tenali+Ramakrishna|Walter+Turncoat" rel="stylesheet">

	
</head>
<body ng-controller='MainController as main'> 
			<h1>Shopular</h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 inputCol">
				<h2>New Inventory</h2>
				<form novalidate name='newItems' ng-submit="main.submit(newItems.$valid)">
			   		Name:<br><input type='text' ng-model='main.form.name' required><br>
			   		Price:<br><input type='number' ng-model='main.form.price' required><br>
			   		Quantity:<br><input type='number' ng-model='main.form.quantity' required><br>
			   		Color:<br><input type='text' ng-model='main.form.color' required><br>
			   		Discount:<br><input type='number' ng-model='main.form.discount' required><br>
			   		<input type="submit" id="submit" value="Submit"/>
			  	</form>
			</div>
			  	
			<div class="col-lg-6 tableCol">
					<h2>Inventory</h2>
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th>Price</th>
				      <th>Quantity</th>
				      <th>Color</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat='item in main.data | orderBy: "quantity"'>
				      <th class="trth" scope="row">{{item.name}}</th>
				      <td>{{((item.price - item.discount) * main.tax + (item.price - item.discount)) | currency}}<img class="tag" src="images/sale.png" ng-show="main.ShowTag(item.discount)"></td>
				      <td>{{item.quantity}}</td>
				      <td>{{item.color}}</td>
				    </tr>

				  </tbody>
				</table>
			</div>	
		</div>		
	</div>			
	<script src="node_modules/angular/angular.js"></script>

	<script src="js/main.js"></script>
</body>
</html>